@import '../../styles/variables.scss';

.link {
  border: 2px solid $yellow;
  color: $white;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transition: all 0.2s;
  font-size: 25px;

  &:hover {
    background: $trans-yellow;
  }
}

.linkText {
  padding: 8px 25px;
}
