@import "../../styles/variables.scss";

.date {
  width: fit-content;

  &:nth-of-type(2) {
    align-self: center;
  }

  &:nth-of-type(3) {
    align-self: flex-end;
  }

  .type,
  .timeLocation {
    color: $yellow;
    text-align: left;
  }
  .date {
    color: $white;
    background: $yellow;
    width: fit-content;
    padding: 5px 10px 4px 10px;
    border-radius: 4px;
    margin: 3px 0;
  }

  .type,
  .date {
    font-size: 25px;
    text-align: left;
  }

  .timeLocation {
    font-size: 18px;
    width: 130px;
  }

  @media only screen and (min-width: 500px) {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      align-self: unset;
    }
  }
}
