@import '../../styles/variables.scss';

.date {
  width: fit-content;

  .type,
  .timeLocation {
    color: $yellow;
    text-align: left;
  }
  .date {
    color: $white;
    background: $yellow;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 4px;
  }

  .type,
  .date {
    font-size: 25px;
    text-align: center;
  }

  .timeLocation {
    font-size: 18px;
  }
}
