@import '../styles/variables.scss';

.enter {
  padding: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $white;

  h1 {
    color: $yellow;
    margin-bottom: 20px;
  }
}

.back {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: $white;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
  }

  &:hover {
    &::after {
      bottom: -2px;
    }
  }
}

.contactInfo {
  p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    input,
    select,
    textarea {
      border: none;
      border: 1px solid $yellow;
      background: transparent;
      color: $white;
      border-radius: 5px;
      padding: 3px 5px;
      font-size: 16px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      background: rgba(226, 201, 54, 0.2);
    }

    select {
      background: rgba(226, 201, 54, 0.2);

      &:hover {
        background: transparent;
      }
    }

    option {
      color: $black;
    }
    textarea {
      resize: none;
    }
  }
}

.form {
  width: 80%;
  max-width: 400px;

  button,
  #checkout {
    width: 100%;
    margin-bottom: 20px;
    background: $trans-yellow;
    border: 1px solid $yellow;
    color: $white;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
      background: transparent;
    }
  }
}
